@media (max-width: 1200px) {
	.container{
		max-width: 1140px;
	}
	.Brit, .lex{
		font-size: 30px;
		line-height: 54px;
	}
}
@media (max-width: 992px) {
	.container{
		max-width: 929px;
	}
	.menu{
		font-size: 16px;
		line-height: 24px;
	}
	.Talk{
		font-size: calc(18px + (24 - 18) * ((100vw - 768px) / (992 - 768)));
    	line-height: calc(27px + (36 - 27) * ((100vw - 768px) / (992 - 768)));
	}
	h1{
		font-size: 48px;
		line-height: 64px;
	}
	h2{
		font-size: 36px;
		line-height: 80px;
	}
	h3{
		font-size: 22px;
		line-height: 80px;
	}
	.top-Learn img{
		max-width: 20%;
	}
	.text-prog{
		font-size: 20px;
		line-height: 30px;
	}
	.bt-started{
		font-size: 24px;
		line-height: 36px;
	}
	.header-skills p{
		font-size: 14px;
		line-height: 21px;
	}
	.Learn-more{
		font-size: 18px;
		line-height: 27px;
	}
	.box-about p{
		font-size: 16px;
		line-height: 24px;
	}
	ol li:nth-child(1){
		font-size: 30px;
		line-height: 80px;
	}
	ol li:nth-child(2){
		font-size: 16px;
		line-height: 24px;
	}
	h4{
		font-size: 22px;
		line-height: 34px;
	}
	.Pricing p{
		font-size: 16px;
		line-height: 24px;
	}
	.body-price{
		font-size: 24px;
		line-height: 36px;
	}
	sup{
		font-size: 16px;
		line-height: 24px;
	}
	.header-Contact p{
		font-size: 16px;
		line-height: 24px;
	}
	form input{
		font-size: 14px;
		line-height: 21px;
	}
	button{
		font-size: 16px;
		line-height: 24px;
	}
	.contact-h2 h2{
		margin-top: 0;
	}
	footer .agreement {
		font-size: 16px;
		line-height: 24px;
	}
	.agreement li a{
		font-size: 16px;
		line-height: 24px;
	}
	.ot-brit {
		margin-right: 16%;
	}
	.grid-Pricing{
		grid-template-rows: 310px 65px 100px 60px;
	}
}
@media (max-width: 767px) {
	.container{
		max-width: 690px;
	}
	@keyframes men{
		0%{
			transform: translateX(-100%);}
		100%{
			transform: translateX(0%);}
		}
	.menu{
		display: none;
		flex-direction: column;
		background-color: lightgray;
		position: fixed;
		left: 0;
		top: 0;
		width: 55%;
		height: 100%;
		text-align: left;
		z-index: 2;
		transition: all 1s;
		padding-top: 20px;
		padding: 3%;
	}
	.menu li a{
		display: block;
		max-width: 100%;
	}
	.menu li:nth-child(2) a, .menu li:nth-child(3) a, .menu li:nth-child(4) a, .menu li:nth-child(5) a, .menu li:nth-child(6) a{
		margin-top: 2%;
		margin-bottom: 2%;
	}
	.menu li:nth-child(1) a{
		border-bottom: 1px solid #C4C4C4;
		max-width: 100%;
	}
	.menu li:nth-child(1), .menu li:nth-child(7){
		display: block;
	}
	.menu li:nth-child(7){
		width: 40%;
		text-align: center;
	}
	.menu li:nth-child(1) a:hover:before, .menu li:nth-child(7) a:hover:before{
		transform: scaleX(0);
	}
	.menu li:nth-child(2), .menu li:nth-child(3), .menu li:nth-child(4), .menu li:nth-child(5){
		margin-right: 0;
	}
	.menu li:nth-child(2) a:hover, .menu li:nth-child(3) a:hover, .menu li:nth-child(4) a:hover, .menu li:nth-child(5) a:hover, .menu li:nth-child(6) a:hover{
		background-color: #263238;
		color: #fff;
	}
	#checked-menu:checked ~ ul{
		display: block;
		max-height: 100%;
		animation: men .5s ease-in-out;
	}
	label{
		display: block;
		position: absolute;
    	right: 0;
    	top: -10px;
		padding: 10px 0;
		z-index: 3;
	}
	#checked-menu:checked ~ label .burger-line{
		background-color: transparent;
	}
	#checked-menu:checked ~ label .burger-line::before{
		transform: rotate(-45deg);
		width: 30px;
		top: 0;
	}
	#checked-menu:checked ~ label .burger-line::after{
		transform: rotate(45deg);
		top: 0;
	}
	.Talk{
		display: none;
	}
	.Brit, .lex{
		font-size: 30px;
		line-height: 45px;
	}
	h1{
		font-size: 36px;
		line-height: 45px;
	}
	h2{
		font-size: 30px;
		line-height: 80px;
	}
	h3{
		font-size: 20px;
		line-height: 80px;
	}
	.text-prog{
		font-size: 16px;
		line-height: 24px;
	}
	.bt-started{
		font-size: 18px;
		line-height: 27px;
	}
	.header-skills p{
		font-size: 13px;
		line-height: 20px;
	}
	.Learn-more{
		font-size: 16px;
		line-height: 24px;
	}
	.box-about p{
		font-size: 14px;
		line-height: 21px;
	}
	ol li:nth-child(1){
		font-size: 22px;
		line-height: 80px;
	}
	ol li:nth-child(2){
		font-size: 13px;
		line-height: 20px;
	}
	h4{
		font-size: 20px;
		line-height: 28px;
	}
	.Pricing p{
		font-size: 14px;
		line-height: 21px;
	}
	.body-price{
		font-size: 22px;
		line-height: 33px;
	}
	sup{
		font-size: 16px;
		line-height: 24px;
	}
	.grid-Pricing{
		grid-template-rows: 240px 55px 100px 55px;
	}
	.header-Contact p{
		font-size: 14px;
		line-height: 21px;
	}
	form input{
		font-size: 12px;
		line-height: 18px;
	}
	button{
		font-size: 13px;
		line-height: 20px;
	}
	footer .agreement {
		font-size: 13px;
		line-height: 20px;
	}
	.agreement li a{
		font-size: 13px;
		line-height: 20px;
	}
}
@media (max-width: 575px) {
	.container{
		max-width: 510px;
	}
	.grid-575 .img-none{
		display: none;
	}
	.grid-575 br{
		display: none;
	}
	.grid-575 .col-5{
    	max-width: 100%;
	}
	.grid-575{
		display: grid;
		text-align: center;
	}
	.grid-575 div:nth-child(2){
		grid-column: 1/2;
    	grid-row: 1/2;
	}
	.grid-575 div:nth-child(1){
		grid-column: 1/2;
    	grid-row: 2/3;
	}
	h1{
		font-size: 34px;
		line-height: 45px;
	}
	.text-prog{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 10%;
	}
	.bt-started{
		font-size: 18px;
		line-height: 27px;
	}
	.header-skills{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.Speaking{
		grid-column: 1/2;
    	grid-row: 1/2;
	}
	.Writing{
		grid-column: 2/3;
    	grid-row: 1/2;
	}
	.Reading{
		grid-column: 1/2;
    	grid-row: 2/3;
	}
	.Listening{
		grid-column: 2/3;
    	grid-row: 2/3;
		display: grid;
    	grid-template-columns: 1fr;
		grid-template-rows: 135px 1fr;
	}
	.Listening div:nth-child(2){
		grid-column: 1/2;
    	grid-row: 1/2;
	}
	.gray-1{
		padding: 7.2%;
	}
	h3{
		font-size: 18px;
		line-height: 80px;
	}
	.header-skills p{
		font-size: 13px;
		line-height: 20px;
	}
	.Learn-more{
		font-size: 14px;
		line-height: 21px;
	}
	h2{
		font-size: 30px;
		line-height: 80px;
	}
	.box-about{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		margin-top: 0;
	}
	.box-about div:nth-child(2){
		grid-column: 1/2;
		grid-row: 1/2;
	}
	.Numbers{
		display: flex;
		justify-content: space-around;
		text-align: center;
		width: 100%;
	}
	.box-about p {
		font-size: 14px;
		line-height: 21px;
		text-align: center;
	}
	.Pricing{
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	.col-4, .col-5, .col-6, .col-7, .col-8{
    	max-width: 100%;
	}
	.grid-Pricing {
		grid-template-rows: 315px 40px 55px 60px;
	}
	h4{
		font-size: 24px;
		line-height: 28px;
	}
	.Pricing p{
		font-size: 14px;
		line-height: 21px;
	}
	.body-price{
		font-size: 22px;
		line-height: 33px;
	}
	sup{
		font-size: 16px;
		line-height: 24px;
	}
	.none{
		display: block;
		text-align: center;
	}
	.none-off{
		display: none;
	}
	.contact-pixel{
		margin-top: 25%;
	}
	.header-Contact{
		margin-top: 7%;
		flex-direction: column;
		text-align: center;
	}
	.offset-md-1{
		margin-left: 0;
	}
	form input{
		margin-right: 1%;
		font-size: 13px;
		line-height: 20px;
	}
	.header-Contact p{
		font-size: 16px;
		line-height: 24px;
	}
	button {
		margin-left: -5%;
		font-size: 16px;
		line-height: 24px;
	}
	.agreement li a {
		font-size: 12px;
		line-height: 18px;
	}
}
@media (max-width: 320px) {
	.container{
		max-width: 290px;
	}
}