body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, table, th, td, header, label, a, hr{
    margin: 0;
    padding: 0;
    font-family: "Poppins-Regular";
}
.relative{
    position: relative;
}
/* Все что выше это настройка для удобного верстания*/
/* Шапка и меню сайта */
header{
    display: flex;
    align-items: center;
    margin: 4% 0;
    gap: 0.5%;
}
#checked-menu{
    display: none;
}
label{
    display: none;
    cursor: pointer;
}
.header-menu{
    display: block;
    position: relative;
}
.burger-line{
    background-color: #39515E;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
    width: 30px;
    height: 3px;
    border-radius: 4px;
}
.burger-line::before, .burger-line::after{
    background-color: #39515E;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    transition: all .3s;
}
.burger-line::before{
    top: 8px;
    width: 21px;
}
.burger-line::after{
    top: -8px;
}
.Brit, .lex{
    font-size: calc(30px + (36 - 30) * ((100vw - 1200px) / (1600 - 1200)));
    line-height: calc(45px + (54 - 45) * ((100vw - 1200px) / (1600 - 1200)));
}
.lex{
    color: #939393;
}
.header-menu, footer{
    flex: 1;
}
.ot-brit{
    margin-right: 18%;
}
.menu{
    display: flex;
    color: #263238;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}
.menu li:nth-child(1), .menu li:nth-child(7){
    display: none;
}
.menu li:nth-child(2), .menu li:nth-child(3), .menu li:nth-child(5){
    margin-right: 5%;
}
.menu li:nth-child(4){
    margin-right: 7%;
}
.menu li a, .agreement li a{
    position: relative;
}
.menu li a::before, .agreement li a::before{
    content: '';
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #263238;
    transition: .3s;
    transform: scaleX(0);
}
.agreement li a::before{
    background-color:#8F95A5;
}
.menu li a:hover:before, .agreement li a:hover:before{
    transform: scaleX(1);
}
.Talk{
    border: 2px solid #263238;
    border-radius: 5px;
    padding: 1.2% 4.2%;
    font-size: 24px;
    line-height: 36px;
    transition: .4s;
}
.Talk:hover{
    background-color: #263238;
    color: #fff;
    box-shadow: 0px 0px 10px #000;
}
h1{
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 8%;
    letter-spacing: 0.9px;
}
h2{
    font-size: 48px;
    line-height: 80px;
}
h3{
    font-size: 30px;
    line-height: 80px;
    color: #263238;
}
h4{
    font-size: 30px;
    line-height: 48px;
    color: #263238;
}
    /* Тело сайта*/
.top-Learn{
    padding-top: 3%;
}
.relative img{
    position: absolute;
    top: 21%;
    left: 77%;
}
.text-prog{
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
    margin-bottom: 17%;
}
.bt-started{
    background: #263238;
    border: 2px solid #263238;
    color: #fff;
    border-radius: 15px;
    font-size: 36px;
    line-height: 54px;
    padding: 5.5% 21%;
    transition: .4s;
}
.bt-started:hover{
    background-color: #fff;
    color: #263238;
}
.Skil{
    margin: 7% 0;
    letter-spacing: 1.9px;
}
.header-skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 65% 1fr;
    gap: 2%;
}
.Speaking{
	grid-column: 1/2;
    grid-row: 1/3;
}
.Writing{
    grid-column: 2/3;
    grid-row: 1/2;
}
.Writing img{
    float: right;
    margin-top: -11%;
}
.Reading{
    grid-column: 3/4;
    grid-row: 1/2;
}
.Listening{
    grid-column: 2/4;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
}
.gray-box{
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 7.2%;
}
.gray-1{
    padding: 3.5%;
}
.header-skills p{
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
    margin-bottom: 14%;
}
.Learn-more{
    background: #263238;
    border: 2px solid #263238;
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    padding: 4% 14%;
    transition: .4s;
}
.Learn-more:hover{
    background-color: #F5F5F5;
    color: #263238;
}
.box-about{
    display: flex;
    align-items: center;
    margin-top: 13.5%;
}
.box-about p{
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
    margin-top: 1%;
    margin-bottom: 4%;
}
ol li:nth-child(1){
    font-size: 48px;
    line-height: 80px;
    color: #2A3246;
    font-weight: bold;
}
ol li:nth-child(2){
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}
.Numbers{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.header-pricing{
    margin: 13.5% 0 5% 0;
}
.Pricing{
    display: flex;
    gap: 2%;
}
.grid-Pricing{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 340px 45px 100px 55px;
    row-gap: 1%;
}
.Pricing p{
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}
.price{
    background: #EEEEEE;
    border-radius: 5px;
    padding: 15px 20px 5px;
}
.price:hover{
    background-color: gainsboro;
}
.body-price{
    font-size: 30px;
    line-height: 45px;
    color: #263238;
    margin-right: 5px;
}
sup{
    font-size: 18px;
    line-height: 27px;
    color: #546269;
}
.header-Contact{
    margin-top: 22%;
    margin-bottom: 12%;
}
.contact-h2 h2{
    margin-top: 4.5%;
}
.contact-h2 p{
    margin-top: 4.5%;
}
.contact-h2 form{
    margin-top: 6%;
}
.header-Contact p{
    font-size: 20px;
    line-height: 30px;
    color: #8F95A5;
}
form input{
    width: 50%;
    padding: 3.5%;
    border: 1px solid #8F95A5;
    border-radius: 10px;
    font-size: 16px;
    line-height: 24px;
    color: black;
    margin-right: 1%;
}
::placeholder{
    font-size: 16px;
    line-height: 24px;
    color: #8F95A5;
}
button{
    background: #263238;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 3.1% 11%;
    transition: .4s;
}
button:hover {
    background-color: #2f434d;
}

    /* Подвал сайта*/
footer{
    display: flex;
    align-items: baseline;
    margin: 31px 0 64px 0;
}
footer a{
    flex: 1;
}
footer .agreement{
    display: flex;
    font-size: 24px;
    line-height: 36px;
    color: #8F95A5;
    gap: 10px;
}
footer .agreement a{
    color: #8F95A5;
}